---
layout: default
title: Home
---
<script src="//code.jquery.com/jquery.min.js"></script>
<script src="/assets/js/jquery.rss.min.js"></script>
<script src="/assets/js/moment.min.js"></script>

<div class="jumbotron clearfix">
  <aside class="pull-right">
    <img src="/public/images/sarah_in_park_b+w.jpg" class="img-responsive img-rounded">
  </aside>
  <h1>Hello</h1>
  <p><strong>Bakertunes</strong> is a collection of the music composed and arranged by <strong>Sarah Baker</strong>, composer-in-residence for <a href="http://servicesforeducation.co.uk/index.php/Music-Services/music-services.html" target="_blank">Services for Education Music Services</a> </strong>and examiner for</strong> <a href="https://gb.abrsm.org/en/home.html" target="_blank">ABRSM</a>.</p>
  </div>

<div class="row">
  
  {% assign pages_list = site.pages %}
  <section class="col-xs-12">
    <div class="row">
    {% assign count = 0 %}
    {% for node in pages_list  reversed %}
      {% if node.category == 'musicshakers' or node.category == 'publications' %}
      {% if node.promoted %}
      {% if count <= 3 %}
      {% assign count = count | plus: 1 %}
      <article class="col-sm-4 equal-height">
      <a class="section-list" href="{{ node.url }}">
        <img src="{{ node.image }}" title="{{ node.title }}" class="img-thumbnail img-responsive">
        <h3>{{ node.title }}</h3>
      </a>
      </article>
      {% endif %}
      {% endif %}
      {% endif %}
    {% endfor %}
    </div>
  </section>
  
  {% assign sorted_pianomusic = site.pianomusic | sort: 'date' %}
  {% assign sorted_pianomusic_rev = sorted_pianomusic | reverse %}
  
  <section class="col-md-6">
    <h2>Piano music</h2>
    {% assign count = 0 %}
    {% for node in sorted_pianomusic_rev %}
      {% if node.category == 'pianomusic' %}
      {% if count <= 3 %}
      {% assign count = count | plus: 1 %}
    <article>
      <a class="section-list" href="{{ node.url }}"><h3>{{ node.title }}</h3></a>
      {% if node.tags %}
      <div class="tags">
      {% for tag in node.tags %}
      <small><span class="badge">{{ tag }}</span></small>
      {% endfor %}
      </div>
      {% endif %}
    </article>
      {% endif %}
      {% endif %}
    {% endfor %}
  </section>

  <section class="col-md-6">
    <h2>Blog</h2>
    <div id="blog-feed"></div>
		<script>
		$("#blog-feed").rss("https://medium.com/feed/bakertunes", {
			limit: 3,
			layoutTemplate: '{entries}',
			entryTemplate: '<article><a href="{url}"><h3>{title}</h3></a><span class="post-date">{date}</span></article>',
			dateFormat: 'DD MMM YYYY',
			ssl: true
		});
		</script>

<!-- 
    {% assign pages_list = site.posts %}
    {% for blog in pages_list %}
    {% if blog.category == 'blog' %}
    {% if forloop.index <= 3 %}
    {% if blog.title != null %}
    <article>
      <a class="section-list" href="{{ node.url }}"><h3>{{ blog.title }}</h3></a>
      {% if blog.post_date != false %}
      <span class="post-date">{{ blog.date | date_to_string }}</span>
      {% endif %}
    </article>
    {% endif %}
    {% endif %}
    {% endif %}
    {% endfor %}
 -->
  </section>

</div>
