
.section-list {
    margin-bottom: 30px;

    .inner {
        padding: 15px;
        background: $white;
        border-radius: $border-radius;
    }

    h2 {
        margin-bottom: 1em;
    }
}

.list-item {
    padding: 2em 0;

    .top-bar {
        border-top: 5px solid $cape-cod;
        height: 22px;
        color: $cape-cod;
        margin: -15px -15px 0;
        padding: 0 15px;
    }
}

.publications-list {
    width: 100%; /* Set full-width to expand the whole page */

    .img-thumbnail {
        max-height: 370px;
    }
}

.page {
    .publications-list {
        .list-item {
            .inner {
                padding: 0 15px;
            }
        }
    }
}