.tags {
    small {
        font-size: 75%;
        padding-right: 0.5em;
        border-right: 1px solid $cape-cod;
        &:last-child {
            padding-right: 0;
            border-right: 0;
        }
    }
}