// Typography
$font-family-primary: "PT Sans", sans-serif;
$font-family-secondary: "Abril Fatface", cursive;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.4;

// Colours
$white: rgba(255,255,255,1);
$mine-shaft: rgba(55, 62, 65, 1);
$cape-cod:  rgba(86,91,115,1);
// $warm-grey-light: rgba(238, 230, 220, 1);
$warm-grey-light: rgba(115, 93, 86, 1);
$denim: rgba(75, 90, 166, 1);

$link: $white;
$link-active: $cape-cod;

// Sizes
$border-radius: 6px;
$unit-margin: 15px;

$breakpoint-tablet: 768px;
$breakpoint-phone: 576px;
$breakpoint-desktop: 992px;
$breakpoint-desktop-lg: 1200px;
