@charset "utf-8";

@import
  "variables",
  "mixins",
  "normalize",
  "elements",
  "formatted-text",
  "sidebar",
  "tags",
  "section-list"
;

.content-inner {
  @media (min-width: 768px) {
    margin: 4rem;
  }
//  @media (min-width: 768px) {
//
//  }
}

/* Blog post or page title */
.post-title {
  color: $cape-cod;
}

aside.pull-right {
  margin-bottom: 1em;
  @media (min-width: 768px) {
    max-width: 250px;
    margin-left: 1em;
  }
  @media (max-width: 767px) {
    float: none !important;
    img {
      min-width: 100%;
    }
  }
}

.page, .post {
    margin-bottom: 4em;
    
}

.page .page-copy {
  padding: 2em 0;
}

.page-tags {
  float: right;
}

.footer {
  margin-top: 5em;
}