@charset "utf-8";

@import
  "variables",
  "mixins",
  "normalize",
  "elements",
  "formatted-text",
  "sidebar",
  "tags",
  "section-list"
;

.content-inner {
  @media (min-width: 768px) {
    margin: 4rem;
  }
//  @media (min-width: 768px) {
//
//  }
}

/* Blog post or page title */
.post-title {
  color: $cape-cod;
}

article {
}

aside.pull-right {
    max-width: 250px;
    margin-left: 2em;
    margin-bottom: 1em;
}

.page, .post {
    margin-bottom: 4em;
    
}

.page .page-copy {
  padding: 2em 0;
}

.page-tags {
  float: right;
}

.footer {
  margin-top: 5em;
}