.about-me--item {
  li {
    p {
      margin-bottom: px-to-rem(10px);
    }
  }
}

.about-me--compositions {
  .comp-excerpt {
    margin-left: px-to-rem(20px);
  }
}

.nav-inner {
  display: flex;
  flex-wrap: wrap;
  gap: px-to-rem(10px);
  list-style-type: none;
  padding: 0;
  margin: 0;

  > * {
    margin-left: 0;
    margin-right: 0;

    &:not(:last-child) {
      border-right: 1px solid $rolling-stone;
      padding-right: px-to-rem(10px);
    }
  }
}