@use "../common/variables" as var;
@use "../tools/px-to-rem" as px;
@use "../tools/respond-to" as rt;

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: var.$base-font-weight-regular;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  padding: px.px-to-rem(6px) px.px-to-rem(12px);
  font-size: px.px-to-rem(14px);
  line-height: 1.42857143;
  border-radius: px.px-to-rem(4px);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
}

.btn-default {
  color: var.$black;
  background-color: var.$white;
  border-color: var.$grey-support;

  &:hover {
    color: var.$black;
    background-color: var.$grey-background;
    border-color: var.$grey-support;
  }
}

.btn-lg {
  padding: px.px-to-rem(10px) px.px-to-rem(16px);
  font-size: var.$lg-body-font-size;
  line-height: var.$lg-body-line-height;
  border-radius: px.px-to-rem(6px);
}

.btn-strong {
  font-weight: var.$base-font-weight-bold;
}

.btn-teal {
  background-color: var.$teal;
  color: var.$white;
  border-color: var.$teal-dark;

  &:hover {
    background-color: var.$teal-dark;
    color: var.$white;
  }

  &:visited,
  &:active {
    color: var.$white;
  }
}

.btn-heather {
  background-color: var.$heather;
}

.btn-download,
.btn-new-window,
.btn-calendly {
  position: relative;
  padding-right: 3rem;

  .glyphicon {
    &::before {
      position: absolute;
      top: px.px-to-rem(-16px);
      right: px.px-to-rem(-25px);
      transition: 0.2s;
    }
  }
}

.btn-download {
  &:hover {
    .glyphicon-download {
      &::before {
        transform: translateY(5px);
      }
    }
  }
}

.btn-new-window {
  &:hover {
    .glyphicon-new-window {
      &::before {
        transform: translate(5px, -5px);
      }
    }
  }
}

.btn-calendly {
  &:hover {
    .glyphicon {
      &::before {
        transform: translateX(5px);
      }
    }
  }
}

.content-canvas-item-right {
  .calendly-link-container {
    margin-bottom: 1.5rem;

    .btn {
      width: 100%;
      max-width: 35ch;
      text-align: center;
      display: block;
      margin: 0 auto;
    }
  }
}

@include rt.respond-to('large') {
  .content-canvas-item-right {
    .calendly-link-container {
      margin-bottom: 3rem;
    }
  }
}