.index-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 1.5em;
  row-gap: 3em;

  li {
    margin: 0;
    position: relative;

    &:hover {
      a {
        text-decoration: none;
      }

      .img {
        transform: scale(1.05);
      }
    }
  }

  > * {
    flex: 1 1 30ch;
  }

  .tags {
    text-align: right;

    > * {
      padding-right: px-to-rem(5px);
      border-right: 1px solid $rolling-stone;

      &:last-child {
          padding-right: unset;
          border-right: unset;
      }
    }
  }

  .img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: all 0.3s ease-in-out;

    &:not(.img-full) {
      max-height: 250px;
    }
  }
}
