.about-micro,
.product-pricing,
.soulsong-container {
  background-color: $outer-space;
  color: $white;
  margin-bottom: px-to-rem($mobile-space);
  padding: 1.5em;

  ul {
    padding-left: px-to-rem(14px);

    li {
      font-size: $body-font-size-mobile;
      line-height: $body-line-height-mobile;
    }
  }
}

@include respond-to('medium') {
  .about-micro,
  .product-pricing,
  .soulsong-container {
    padding: 3em 1.5em;

    ul {
      li {
        font-size: $body-font-size-mobile;
        line-height: $body-line-height-mobile;
      }
    }
  }
}

.product-pricing {
  background-color: $soft-amber;
  color: $black;

  .price {
    text-align: center;

    span {
      display: block;
    }
  }
}

.soulsong-container {
  background-color: $gold;
  color: $black;

  .link {
    padding-top: 1.5em;
    text-align: center;
  }
}
