.about-micro,
.service-pricing,
.service-openings,
.proserviceduct-pricing,
.soulsong-container,
.service-promote,
.no-spaces-micro,
.theory-starting-micro {
  background-color: $outer-space;
  color: $white;
  margin-bottom: px-to-rem($mobile-space);
  padding: 1.5em;

  .micro-label {
    font-size: $body-font-size-mobile;
    line-height: $body-line-height-mobile;

    &:not(:last-child) {
      margin-bottom: $mobile-space * 0.5;
    }

    &.micro-label-large {
      font-size: $body-font-size;
      line-height: $body-line-height;
    }

    &.micro-label-v-large {
      font-size: $lg-body-font-size;
      line-height: $lg-body-line-height;
    }
  }

  ul {
    padding-left: px-to-rem(14px);

    li {
      font-size: $body-font-size-mobile;
      line-height: $body-line-height-mobile;
    }
  }

  a {
    color: $white;
  }
}

.no-spaces-micro,
.service-openings {
  background-color: $rolling-stone;
}

.theory-starting-micro {
  background-color: $teal;
}

@include respond-to('medium') {
  .about-micro,
  .service-pricing,
  .service-openings,
  .soulsong-container,
  .service-promote,
  .no-spaces-micro {
    padding: 3em 1.5em;

    .micro-label {
      font-size: $body-font-size;
      line-height: $body-line-height;
    }

    ul {
      li {
        font-size: $body-font-size-mobile;
        line-height: $body-line-height-mobile;
      }
    }
  }
}

.service-pricing,
.service-promote--teaching {
  background-color: $soft-amber;
  color: $black;

  .price {
    text-align: center;
    padding-block: 1.5rem;
  }

  .prefix {
    display: inline-block;
    margin-left: -2rem;
  }

  .link {
    padding-top: 1.5em;
    text-align: center;
  }
}

.service-openings--prefix {
  padding-block-end: 0.5rem;
  font-size: $body-font-size-mobile;
  line-height: $body-line-height-mobile;

  @include respond-to('medium') {
    padding-block-end: 1rem;
    font-size: $body-font-size;
    line-height: $body-line-height;
  }
}

.soulsong-container,
.service-promote--masterclasses {
  background-color: $gold;
  color: $black;

  .link {
    padding-top: 1.5em;
    text-align: center;
  }
}
