@use "../common/variables" as var;
@use "../tools/respond-to" as rt;

.page-soulsongs {
  .mc--head--left {
    background-color: unset;

    > * {
      color: var.$mako;
    }

    h1 {
      font-size: var.$h1-lg-font-size;
      line-height: var.$h1-lg-line-height;
    }
  }

  .mc--head--right {
    background-image: url("/static/images/unsplash/james-zwadlo-nj0vGyFB2nY-unsplash-600.jpeg");
  }
}

.soul-songs-index-list {
  h2 {
    margin-bottom: 1.5rem;
  }
}

@include rt.respond-to('large') {
  .page-soulsongs {
    .mc--head--left {
      padding-top: 12rem;
      padding-bottom: 12rem;
    }
  }

  .soul-songs-index-list {
    h2 {
      margin-bottom: 3rem;
    }
  }
}
