  <div class="mc--head content-canvas-item-full content-canvas">
    <div class="mc--head--inner content-canvas-item-wide">
      <div class="mc--head--left">
        {% if back %}
        {% include "layouts/components/page-head-back.njk" %}
        {% endif %}
        <h1 class="page-title">{{ title }}</h1>

        <div class="description h3-style">{{ excerpt }}</div>
      </div>
      <div class="mc--head--right"></div>
    </div>
  </div>
