      
      <div class="theory-starting-micro">
        <div class="micro-label micro-label-v-large centered bold">{{ micro.theoryStarting.label }}</div>
        {% if new_theory.expected %}
        <div class="micro-label centered">{{ micro.theoryStarting.expected|safe }}</div>
        {% endif %}
      </div>
