      
      <div class="no-spaces-micro">
        <div class="micro-label centered bold">{{ micro.noSpaces.label }}</div>
        {% if no_spaces.expected %}
        <div class="micro-label centered">{{ micro.noSpaces.expected }}</div>
        {% endif %}
      </div>
