{% if testimonial %}
<div class="content-canvas-item-full testimonials-wrapper">
  <div class="site-content content-canvas">
    <div class="testimonial--container">
      {% include "layouts/components/testimonial-item.njk" %}
    </div>
  </div>
</div>
{% endif %}