      
      <div class="soulsong-container">
        <h3>This is a Soul Song</h3>
        <div class="link">
          <a href="/soulsongs/" class="single-meta-item single-meta-item-black single-meta-forward">What is a Soul Song?</a>
        </div>
      </div>