    
    <div class="publication-link-container">
      <a href="{{ publication_url }}" target="_blank" class="btn btn-default btn-lg btn-new-window"><strong>Get {{ title }} at {{ publisher }}</strong> &nbsp; <span class="glyphicon glyphicon-new-window"></span></a>
    </div>
