<div class="service-openings">
  {% if openings.prefix %}
  <div class="service-openings--prefix">{{ openings.prefix }}</div>
  {% endif %}
  <div class="service-openings--date centered h2-style">{{ openings.date }}</div>
</div>