<header class="header site-header" id="header">
  <div class="site-header__inner">
    <div class="site-header__logo">
      <a href="/" class="site-logo">
        <h1>Bakertunes</h1>
      </a>
    </div>

    <div class="site-header__nav">
    {% include "layouts/components/nav.njk" %}
    </div>

    <button class="search-button" id="site-search-button" aria-label="Search this site"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg></button>

    <button class="site-header__menu js-closed" aria-expanded="false" href="#main-navigation">
      <a class="css-nav css-nav--open" href="#main-navigation" aria-label="Open menu">Open</a>
      <a class="css-nav css-nav--close" href="#" aria-label="Close menu">Close</a>
      <div class="site-header__menu__text closed-text hide-text" aria-label="Open menu">Menu</div>
      <div class="site-header__menu__text open-text" aria-label="Close menu">Close</div>
      <div class="site-header__menu__burger">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </button>
  </div>
</header>

<div class="header-search w-screen h-screen background-blur-[3px]" id="site-search">
  <div class="header-search--inner">
    <div id="search" class="search site-search--pagefind"></div>
  </div>
</div>