<footer class="footer" id="footer">
  <div class="footer-menu">
    <p>Copyright &copy; Sarah Baker. All Rights Reserved.</p>
    {% include "layouts/components/nav-footer.njk" %}
  </div>
  <div class="footer-contact">
    {% include "layouts/components/site-footer-contact.njk" %}
  </div>
</footer>