<div class="soulsongs-pricing">
  <h3>Pricing</h3>

  <p class="price">
    <strong>
      <span class="h1-style">£500</span>
      <small>per minute of composed music</small>
    </strong>
  </p>

  <p>Includes:<p>

  <ul>
    <li>One-to-one consultation</li>
    <li>Unique, personal musical composition</li>
    <li>Soul Song presentation</li>
    <li>Music in digital format</li>
    <li>Printed or hand-written score, in a presentation binding</li>
  </ul>

  <p>Prices for music videos on application.</p>
  
</div>