<div class="testimonials-container" id="testimonials">
  {% if testimominals_label %}
  <h3>{{ testimominals_label }}</h3>
  {% endif %}
  <div class="testimonials testimonials-count-{{ testimonials | length }} snaps-inline">
    {% for testimonial in testimonials %}
      {% include "layouts/components/testimonial-item.njk" %}
    {% endfor %}
  </div>
</div>