/* --------------------------------------------------------------
# Variables
-------------------------------------------------------------- */
@import "./common/variables";

/* --------------------------------------------------------------
# Tools
-------------------------------------------------------------- */
@import "./tools/all";

/* --------------------------------------------------------------
# Jumbotron
-------------------------------------------------------------- */
@import "./components/jumbotron";

.home--header {
  font-size: $h4-font-size;
  line-height: $h4-line-height;
  padding: 0 1.5rem 1.5rem;
  max-width: 55ch;

  h2 {
    font-size: $h1-font-size;
    line-height: $h1-line-height;
  }

  .excerpt {
    padding: 1.5rem 0;
  }
}

.home--header--all-padding {
  padding: 1.5rem;
}

.home--header--wrapper {
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: $grey-background;
    transition: all 0.3s ease-in-out;
  }
}

.home-item--inner {
  display: flex;
  flex-wrap: wrap;

  .item-thing {
    flex: 1 1 25ch;
  }

  .excerpt {
    font-size: $lg-body-font-size-mobile;
    line-height: $lg-body-font-size-mobile;
    padding: 1.5rem 0;
  }
}

@include respond-to('medium') {
  .home-item {
    .excerpt {
      font-size: $lg-body-font-size;
      line-height: $lg-body-font-size;
    }    
  }  
}

@include respond-to('large') {
  .home--header {
    font-size: $h3-font-size;
    line-height: $h3-line-height;
    margin: 3rem 0;
    padding: 0 3rem 3rem;

    h2 {
      font-size: $h1-lg-font-size;
      line-height: $h1-lg-line-height;
    }
  }

  .home--header--all-padding {
    padding: 3rem;
  }

  .home-item {
    h2 {
      font-size: $h1-lg-font-size;
      line-height: $h1-lg-line-height;
    }

    .item-thing {
      &.content {
        padding: 12rem 3rem;
      }
    }
  }
}

/* --------------------------------------------------------------
# Composer
-------------------------------------------------------------- */
@import "./components/home/composer";

/* --------------------------------------------------------------
# Soulsongs
-------------------------------------------------------------- */
@import "./components/home/soulsongs";

/* --------------------------------------------------------------
# Promo
-------------------------------------------------------------- */
@import "./components/home/promo";
