/* ==========================================================================
TYPOGRAPHY
========================================================================== */
@use "../common/variables" as var;
@use "../tools/px-to-rem" as px;
@use "../tools/respond-to" as rt;
@use "../tools/mixins" as mx;

p,
.body-style {
  width: 100%;
  font-family: var.$primary-font;
  font-size: var(--font-size-fluid-1);
  font-weight: var.$base-font-weight-regular;
  line-height: var(--font-lineheight-2);
  font-style: normal;
  color: inherit;

  @include rt.respond-to('medium') {
    line-height: var(--font-lineheight-3);
    margin: 0 0 px.px-to-rem(27px) 0;
  }
}

.secondary-font {
  font-family: var.$secondary-font;
}

.script-font {
  font-family: var.$script-font;
}

/* Shared styles */
h1,
h2,
h3,
h4,
h5,
h6,
.h1-style,
.h2-style,
.h3-style,
.h4-style,
.h5-style,
.h6-style {
  color: inherit;
  font-family: var.$headings-font;
  font-weight: var.$headings-font-weight;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  margin: 0;
  mix-blend-mode: normal;
}

h1,
.h1-style {
  font-size: var.$h1-font-size-mobile;
  line-height: var.$h1-line-height-mobile;
  font-weight: var.$headings-font-weight;
  margin-bottom: px.px-to-rem(1.5 * var.$base-space);

  @media only screen and (min-width: var.$tablet) {
    font-size: var.$h1-font-size;
    line-height: var.$h1-line-height;
  }
}

h2,
.h2-style {
  font-size: var.$h2-font-size-mobile;
  line-height: var.$h2-line-height-mobile;
  font-weight: var.$headings-font-weight;
  margin-bottom: px.px-to-rem(20px);

  @include rt.respond-to('medium') {
    font-size: var.$h2-font-size;
    line-height: var.$h2-line-height;
    margin-bottom: px.px-to-rem(23px);
  }
}

h3,
.h3-style {
  font-size: var.$h3-font-size-mobile;
  line-height: var.$h3-line-height-mobile;
  font-weight: var.$headings-font-weight;
  margin-bottom: px.px-to-rem(12px);

  @include rt.respond-to('medium') {
    font-size: var.$h3-font-size;
    line-height: var.$h3-line-height;
    margin-bottom: px.px-to-rem(16px);
  }
}

// Subheading, slightly different styling.
h4,
.h4-style {
  font-size: var.$h4-font-size-mobile;
  line-height: var.$h4-line-height-mobile;

  @include rt.respond-to('medium') {
    font-size: var.$h4-font-size;
    line-height: var.$h4-line-height;
  }
}

// Helpers - Additions to help with reuseable code approach. Add classes to achieve styles rather than nesting.
.bold {
  font-weight: var.$base-font-weight-bold;
}

.centered {
  text-align: center;
}

.hide-text {
  @include mx.hide-text;
}

.visually-hidden {
  @include mx.visually-hidden;
}

.do-not-display {
  @include mx.do-not-display;
}

.no-margin {
  margin: 0;
}

.gradient {
  background: linear-gradient(135deg, #ce132d 0%, #ee701c 100%);
  background-color: var.$red;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  @media screen and (-ms-high-contrast: active),
  (-ms-high-contrast: none) {
    background-color: none;
    background: none;
  }
}

.text-gradient {
  h1,
  h2,
  h3,
  h4 {
    background: linear-gradient(135deg, #ce132d 0, #ee701c 100%);
    background-color: #ce132d;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.header-highlight {
  border-left: 2px solid var.$yellow;
  padding-left: px.px-to-rem(20px);
  margin: px.px-to-rem(34px) 0;

  blockquote {
    margin: 0;
    color: var.$body;
  }
}

.section-header {
  &.section-header--narrow {
    width: 100%;

    @media only screen and (min-width: var.$mobile) {
      max-width: px.px-to-rem(400px);
    }

    @media only screen and (min-width: var.$desktop) {
      max-width: px.px-to-rem(534px);

      @supports (-ms-ime-align:auto) {
        width: 100%;
      }
    }
  }
}

.section-header__text {
  font-size: px.px-to-rem(31px);
  line-height: px.px-to-rem(57px);
  font-family: var.$primary-font;
  margin: 0;
  position: relative;
  background-color: var.$white;
  text-align: left;
  overflow: hidden;
  color: var.$white;
  padding-top: px.px-to-rem(23px);
  padding-bottom: px.px-to-rem(23px);

  @media only screen and (min-width: var.$desktop) {
    font-size: px.px-to-rem(48px);
    line-height: px.px-to-rem(73px);
  }

  span {
    color: var.$white;
    background-color: var.$red;
    padding: px.px-to-rem(23px) px.px-to-rem(20px);
    padding-top: px.px-to-rem(23px);
    padding-bottom: px.px-to-rem(23px);
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;

    @media only screen and (min-width: var.$desktop) {
      padding: px.px-to-rem(23px) px.px-to-rem(44px);
    }
  }
}

@supports(mix-blend-mode: lighten) {
  .section-header__text::after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    background: linear-gradient(60deg, #CE132D, #EE701C);
    background: var.$gradient;
    mix-blend-mode: lighten;
  }
}

.caption {
  font-family: var.$primary-font;
  font-style: normal;
  font-weight: normal;
  font-size: px.px-to-rem(12px);
  line-height: px.px-to-rem(16px);
  text-align: center;
  color: var.$red;
}

.supporting-text {
  font-size: px.px-to-rem(12px);
  line-height: px.px-to-rem(16px);
  margin-top: px.px-to-rem(10.45px);

  @media only screen and (min-width: var.$tablet) {
    font-size: px.px-to-rem(14px);
    line-height: px.px-to-rem(20px);
  }
}

.inline-text {
  display: inline;
}

.large-body-text {
  font-size: var.$lg-body-font-size-mobile;
  line-height: var.$lg-body-line-height-mobile;
  font-weight: var.$base-font-weight-regular;

  @media only screen and (min-width: var.$tablet) {
    font-size: var.$lg-body-font-size;
    line-height: var.$lg-body-line-height;
  }
}

.script-text {
  font-size: var.$h2-font-size-mobile;
  line-height: var.$h2-line-height-mobile;
  padding-block: px.px-to-rem(var.$base-space);

  @include rt.respond-to('large') {
    font-size: var.$h2-font-size;
    line-height: var.$h2-line-height;
  }
}

.large-script-text {
  font-size: var.$h1-font-size;
  line-height: var.$h1-line-height;
  padding-block: px.px-to-rem(var.$base-space * 2);

  @include rt.respond-to('large') {
    font-size: var.$h1-lg-font-size;
    line-height: var.$h1-lg-line-height;
  }
}

.x-large-script-text {
  font-size: var.$h1-lg-font-size;
  line-height: var.$h1-lg-line-height;
  padding-block: px.px-to-rem(var.$base-space * 3);

  @include rt.respond-to('large') {
    font-size: var.$h1-x-lg-font-size;
    line-height: var.$h1-x-lg-line-height;
  }
}

// Colours
.white-text {
  color: var.$white;
}

.smaller {
  font-size: var(--font-size-fluid-0) !important;
}

.small-text {
  font-size: var(--font-size-fluid-000) !important;
}

.large {
  font-size: var(--font-size-fluid-1);
}