{% set itemTitle %}{% endset %}
{% set itemUrl %}{% endset %}
{% set itemExcerpt %}{% endset %}
{% for item in collections.composerIndex %}
  {% if filePathStem == item.filePathStem %}
    {% set itemTitle %}{{ item.data.title }}{% endset %}
    {% set itemUrl %}{{ item.url }}{% endset %}
    {% set itemExcerpt %}{{ item.data.excerpt }}{% endset %}
  {% endif %}
{% endfor %}

<div class="composer-content-item composer-content-item-{{ itemTitle | slug }}">
  <div class="composer-content-item--header">
    <h2><a href="{{ itemUrl }}">{{ itemTitle }}</a></h2>

    {% if itemExcerpt %}
    <div class="excerpt">
      {{ itemExcerpt }}
    </div>
    {% endif %}
  </div>
  <div class="composer-content-item--products">
    {% for i in range(0, 3) %}
      {% include "layouts/components/composer/composer-content-item--product.njk" %}
    {% endfor %}

    <div class="more-products-link">
      <a href="{{ itemUrl }}" class="single-meta-item single-meta-item-black single-meta-forward">More {{ itemTitle }}</a>
    </div>
  </div>
</div>