/* --------------------------------------------------------------
# Variables
-------------------------------------------------------------- */
/* ==========================================================================
VARIABLES
========================================================================== */
/* --------------------------------------------------------------
# Tools
-------------------------------------------------------------- */
/* --------------------------------------------------------------
# Masterclass components
-------------------------------------------------------------- */
.composer-content {
  display: flex;
  flex-wrap: wrap; }
  .composer-content > * {
    flex: 1 1 50vw;
    min-width: 40ch; }

.composer-content-item--header {
  min-height: 6.25rem;
  padding: 1.5rem 0; }

.composer-content-item {
  padding: 1.5rem;
  background-color: #adc3cc; }
  .composer-content-item.composer-content-item-piano-music, .composer-content-item.composer-content-item-music-shakers {
    background-color: #ccbead; }
  .composer-content-item.composer-content-item-songs {
    background-color: #d3dfe3; }

.composer-content-item--products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem; }
  .composer-content-item--products > * {
    flex: 1 1 25ch;
    max-width: 35ch; }

.composer-content-item--product h3 {
  min-height: 3.75rem; }
  .composer-content-item--product h3 a {
    color: #121212; }

.composer-content-item--product .fg-image {
  margin: 0 auto; }

.composer-content-item--product img {
  transition: all 0.3s ease-in-out; }

.composer-content-item--product:hover h3 a {
  text-decoration: none; }

.composer-content-item--product:hover img {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out; }

@media only screen and (min-width: 64rem) {
  .composer-content > * {
    flex-grow: 0; }
  .composer-content-item {
    padding: 3rem; }
  .composer-content-item--header {
    padding: 3rem 0; }
  .composer-content-item--products {
    justify-content: space-between; } }
