/* --------------------------------------------------------------
# Variables
-------------------------------------------------------------- */
/* ==========================================================================
VARIABLES
========================================================================== */
/* --------------------------------------------------------------
# Tools
-------------------------------------------------------------- */
/* --------------------------------------------------------------
# Jumbotron
-------------------------------------------------------------- */
.jumbotron {
  background-color: #adc3cc;
  padding: 0; }
  .jumbotron .jumbotron--inner {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: minmax(2rem, 200px) minmax(200px, 250px);
    padding: 0; }
  .jumbotron .title {
    grid-column: 1/4;
    grid-row: 1/2;
    background-color: #41494d;
    padding: 3rem 1.5rem;
    padding-bottom: 0; }
    .jumbotron .title > *,
    .jumbotron .title a {
      color: #fff; }
    .jumbotron .title .sub-title {
      line-height: 1.4375rem; }
    .jumbotron .title small {
      font-size: 1.25rem;
      line-height: 1.4375rem; }
    @media only screen and (min-width: 48rem) {
      .jumbotron .title .sub-title {
        line-height: 2.125rem; }
      .jumbotron .title small {
        font-size: 1.375rem;
        line-height: 2.125rem; } }
  .jumbotron .content {
    grid-column: 1/4;
    grid-row: 2/3;
    background-color: #41494d;
    padding: 3rem 1.5rem;
    padding-top: 0; }
    .jumbotron .content > *,
    .jumbotron .content a {
      color: #fff; }
  .jumbotron .image-right {
    grid-column: 3/4;
    grid-row: 1/2;
    display: none; }
    .jumbotron .image-right img {
      height: 100%;
      width: 100%;
      object-fit: cover; }
  @media only screen and (min-width: 36rem) {
    .jumbotron .title {
      grid-column: 1/3; }
    .jumbotron .image-right {
      display: block;
      grid-row: 1/2; } }
  @media only screen and (min-width: 48rem) {
    .jumbotron .title {
      padding-left: 3rem;
      padding-right: 3rem; }
    .jumbotron .content {
      grid-column: 1/3;
      padding-left: 3rem;
      padding-right: 3rem; }
    .jumbotron .image-right {
      display: block;
      grid-row: 1/3; } }
  .jumbotron h1 {
    font-size: 3rem;
    line-height: 3.375rem; }
  .jumbotron p {
    font-size: 1.25rem;
    line-height: 1.75rem; }
  @media only screen and (min-width: 80rem) {
    .jumbotron h1 {
      font-size: 4rem;
      line-height: 4.5rem; }
    .jumbotron p {
      font-size: 1.375rem;
      line-height: 2.125rem; } }

.home--header {
  font-size: 1.1875rem;
  line-height: 1.75rem;
  padding: 0 1.5rem; }
  .home--header h2 {
    font-size: 2.25rem; }

@media only screen and (min-width: 64rem) {
  .home--header {
    font-size: 1.1875rem;
    line-height: 1.75rem;
    margin: 3rem 0;
    padding: 0 3rem; }
    .home--header h2 {
      font-size: 3rem; } }
