<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="/"><h1>{{ site.title }}</h1></a>
      <p class="lead">{{ site.tagline }}</p>
    </div>

    <ul class="sidebar-nav">

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for weight in (0..10) %}
      {% for node in pages_list %}
        {% if node.weight == weight %}
        {% if node.title != null %}
          {% if node.layout == "section" %}
            <li class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}">
              <a href="{{ node.url }}">{{ node.title }}</a>
            </li>
          {% endif %}
        {% endif %}
        {% endif %}
      {% endfor %}
      {% endfor %}
    </ul>
    <div class="social-icons">
      <span class="social-icon twitter"><a href="https://twitter.com/bakertunes"><img src="/public/images/twitter_icon_white.png" /></a></span>
      <span class="social-icon soundcloud"><a href="https://soundcloud.com/sarah-baker-10"><img src="/public/images/soundcloud_icon.png" /></a></span>
    </div>
  </div>
</div>
