<div class="sidebar-inner">
  <nav class="navbar">
    <div class="container-fluid">
      <div class="row">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-nav" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/"><h1>{{ site.title }}</h1></a>
          <p class="lead">{{ site.tagline }}</p>
        </div> 
      </div>
      <div class="row">
        <div class="collapse navbar-collapse" id="sidebar-nav">
          <ul class="nav nav-stacked">
          {% comment %}
            The code below dynamically generates a sidebar nav of pages with
            `layout: page` in the front-matter. See readme for usage.
          {% endcomment %}
          {% assign pianomusic_list = site.pianomusic %}
          {% assign pages_list = site.pages %}
          {% for pm in pianomusic_list %}
            {% assign pages_list = pages_list | push: pm %}
          {% endfor %}
          {% for weight in (0..10) %}
          {% for node in pages_list %}
            {% if node.weight == weight %}
            {% if node.title != null %}
              {% if (node.layout == "section") %}
                <li class="col-sm-12 col-xs-6{% if (page.url == node.url) or (page.category == node.category) %} active{% endif %}">
                  <a href="{{ node.url }}">{% if node.nav_title %}{{ node.nav_title }}{% else %}{{ node.title }}{% endif %}</a>
                </li>
              {% endif %}
            {% endif %}
            {% endif %}
          {% endfor %}
          {% endfor %}
          	<li class="col-sm-12 col-xs-6"><a href="https://medium.com/bakertunes">Blog</a></li>
          </ul>
          <div class="social-icons">
            <span class="social-icon twitter"><a href="https://twitter.com/bakertunes"><img src="/public/images/twitter_icon_white.png" class="img-responsive" /></a></span>
            <span class="social-icon soundcloud"><a href="https://soundcloud.com/sarah-baker-10"><img src="/public/images/soundcloud_icon.png" class="img-responsive" /></a></span>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>