/* ==========================================================================
ELEMENTS
========================================================================== */

/* --------------------------------------------------------------
# Variables
-------------------------------------------------------------- */
@use "./base-variables" as bvar;
@use "./variables" as var;

/* --------------------------------------------------------------
# Tools
-------------------------------------------------------------- */
@use "../tools/px-to-rem" as px;

/**
 * Simple page-level setup.
 *
 * 1. Force scrollbars to always be visible to prevent awkward ‘jumps’ when
 *    navigating between pages that do/do not have enough content to produce
 *    scrollbars naturally.
 * 2. Ensure the page always fills at least the entire height of the viewport.
 */

:root {
  font-size: bvar.$base-font-size;
}

html {
  background-color: var.$white;
  color: var.$black;
  font-family: var.$primary-font;
  font-size: bvar.$base-font-size;
  font-weight: var.$base-font-weight-regular;
  line-height: var.$base-line-height;
  box-sizing: border-box;
  min-height: 100%; /* [2] */
  overflow-y: scroll; /* [1] */

  --font-size-fluid-000: clamp(#{var.$body-v-sml-font-size-mobile}, 1.3vw, #{var.$body-v-sml-font-size});
  --font-size-fluid-00: clamp(#{var.$body-sml-font-size-mobile}, 1.4vw, #{var.$body-sml-font-size});
  --font-size-fluid-0: clamp(#{var.$body-font-size-mobile}, 1.5vw, #{var.$body-font-size});
}

* {
  &,
  &::before,
  &::after {
    box-sizing: inherit;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
a:visited {
  color: var.$rolling-stone;
}

a:hover,
a:focus {
  text-decoration: none;
}

button {
  background: none;
  border: none;
}

ul,
ol {
  font-family: var.$primary-font;
  margin: 0;
  padding: 0;
  color: inherit;

  li {
    font-size: var.$body-font-size-mobile;
    font-weight: var.$base-font-weight-regular;

    @media only screen and (min-width: var.$tablet) {
      font-size: var.$body-font-size;
      line-height: var.$body-line-height;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

main {
  ul,
  ol {
    margin-bottom: px.px-to-rem(30px);
    padding-left: px.px-to-rem(30px);

    ul,
    ol {
      margin-bottom: 0;
    }

    li {
      margin: px.px-to-rem(9px);
      line-height: px.px-to-rem(27px);
    }

    hr {
      height: px.px-to-rem(1px);
      border: none;
    }
  }
}
