@use "../../common/variables" as var;
@use "../../tools/respond-to" as rt;

.home-promo {
  background-color: var.$outer-space;
  color: var.$white;

  a {
    color: var.$white;
  }

  .item-thing {
    grid-row-start: 1;

    &.image {
      position: relative;
      overflow: hidden;

      &::before {
        position: absolute;
        content: ' ';
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-size: cover;
        background-position-x: right;
        background-position-y: centre;
        transition: all 0.3s ease;
        background-image: var(--promo-background);
      }

      &.image-high {
        &::before {
          background-position-y: 75%;
        }
      }
    }
  }

  &:hover {
    background-color: var.$outer-space-dark;
    transition: all 0.3s ease;

    .item-thing {
      &.image {
        &::before {
          transform: scale(1.05);
          transition: all 0.3s ease;
        }
      }
    }
  }

  .content-canvas {
    grid-template-columns: 
    [full-start]
      1fr
    [wide-start]
      minmax(10ch, auto)
    [main-start]
      minmax(15ch, 40ch)
    [main-mid]
      minmax(15ch, 40ch)
    [main-end]
      minmax(10ch, auto)
    [wide-end]
      1fr
    [full-end];
  }
}