      
      <div class="calendly-link-container">
        <a href="https://calendly.com/bakertunes/15min" target="_blank" class="btn btn-lg btn-default btn-strong btn-teal btn-calendly" role="button">{{ micro.calendly.label }} <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span></a>
      </div>
