{% set cardType %}summary_large_image{% endset %}

{% set absoluteUrl %}{{ page.url | url | absoluteUrl(env.base.site) }}{% endset %}

{% if permalink == '/' %}
{% set cardTitle %}{{ metadata.title }} — {{ metadata.alt_title }}{% endset %}
{% set ogType %}website{% endset %}
{% else %}
{% set cardTitle %}{{ title }} | {{ metadata.title }}{% endset %}
{% set ogType %}article{% endset %}
{% endif %}

{% if image %}
{% set cardImage = image %}
{% else %}
{% set cardImage = "/static/images/sarah-in-garden-b+w-social-card.jpg" %}
{% endif %}
{{ env.base.site }}
  <meta name="twitter:card" content="{{cardType}}" />
  <meta name="twitter:site" content="{{ metadata.twitter }}" />
  <meta name="twitter:creator" content="{{ metadata.author.name }}" />
  <meta property="og:url" content="{{ absoluteUrl }}" />
  <meta property="og:title" content="{{cardTitle}}" />
  <meta property="og:description" content="{% if excerpt %}{{excerpt}}{% else %}{{metadata.summary}}{% endif %}" />
  <meta property="og:image" content="{{ env.base.site | trimTrailingChar }}{% imageData cardImage %}" />
  <meta property="og:type" content="{{ogType}}" />
  <meta property="twitter:title" content="{{cardTitle}}" />
  <meta property="twitter:description" content="{% if excerpt %}{{excerpt}}{% else %}{{metadata.summary}}{% endif %}" />
  <meta property="twitter:image" content="{{ env.base.site | trimTrailingChar }}{% imageData cardImage %}" />
  <meta property="twitter:site" content="@bakertunes" />
