{% extends "layouts/components/promote-service.njk" %}
{% set service_name = "teaching" %}
{% set service_title %}Considering lessons?{% endset %}
{% set service_url %}/teaching/{% endset %}
{% set service_link_title %}Find out more{% endset %}
        