{% extends "layouts/components/promote-service.njk" %}
{% set service_name = "masterclasses" %}
{% set service_title %}Masterclasses{% endset %}
{% set service_excerpt %}Expert, personalised feedback for exam, recital or performance preparation{% endset %}
{% set service_url %}/teaching/masterclasses/{% endset %}
{% set service_link_title %}Find out more{% endset %}
        