/* --------------------------------------------------------------
# Variables
-------------------------------------------------------------- */
@use "../../common/variables" as var;

/* --------------------------------------------------------------
# Tools
-------------------------------------------------------------- */
@use "../../tools/respond-to" as rt;

.home-composer--item {
  a {
    color: var.$black;
  }
}

.home-composer--item--odd {
  background-color: var.$heather;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: var.$heather-dark;
    transition: all 0.3s ease-in-out;
  }
}

.home-composer--item--even {
  background-color: var.$heather-light;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: var.$heather;
    transition: all 0.3s ease-in-out;
  }
}

.home-composer--item--inner {
  display: flex;
  flex-wrap: wrap;

  > * {
    flex: 1 1 35ch;
    order: 0;
  }

  .item-section {
    padding: 6rem 3rem;
  }
}

.composer-content-item--product {
  height: 100%;
  background-color: var.$soft-amber;
  padding: 1.5rem;
  transition: all 0.3s ease-in-out;

  .fig {
    margin-left: 0;
    margin-right: 0;
    transition: all 0.3s ease-in-out;
  }

  .fig-video,
  .fig-sound {
    position: relative;
    z-index: 10;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }

  &:hover {
    background-color: var.$soft-amber-dark;
    transition: all 0.3s ease-in-out;

    img {
      transform: scale(1.025);
      transition: all 0.3s ease-in-out;
    }

  }
}

@include rt.respond-to('large') {
  .home-composer--item--inner {
    .item-section {
      padding: 9rem 4.5rem;
    }
  }

  .home-composer--item--even {
    .home-composer--item--inner {
      .item-section {
        order: 1;
      }
    }
  }

  .composer-content-item--product {
    padding: 3rem;

    .fig-video,
    .fig-sound {
      margin-left: -3rem;
      margin-right: -3rem;
    }
  }
}
