@use "./common/variables" as var;
@use "./tools/respond-to" as rt;

.blog-index {
  margin-block-end: 5rem;

  .index-list {
    gap: 1.5rem;
    row-gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));

    .img {
      max-height: unset;
    }
  }

  .index-list__item {
    position: relative;
    overflow: hidden;
    background-color: var.$soft-amber;
    transition: all .15s ease;
    min-height: 20rem;
    display: flex;
    align-items: center;

    &:hover {
      background-color: var.$soft-amber-dark;
      transition: all .3s ease;
    }

    a {
      color: var.$black;
    }

  }

  .index-list__item-first {
    grid-column: 1/-1;
    min-height: 25rem;
  }

  .index-list__item--with-picture {
    color: var.$white;
    transition: all .3s ease;
    align-items: flex-end;

    a {
      color: var.$white;
    }

    &:hover {
      .index-list__item-picture {
        transition: all .3s ease;
        filter: brightness(67%);
      }
    }
  }

  .index-list__item-content {
    position: relative;
    z-index: 1;
    padding: 3rem;
    max-width: 60ch;
  }

  .index-list__item-first {
    h2 {
      font-size: var.$h1-font-size-mobile;
      line-height: var.$h1-line-height-mobile;
    }
  }

  .index-list__item-picture {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    block-size: 100%;
    object-fit: cover;
    filter: brightness(67%);
    transition: all .3s ease;
  }
}

@include rt.respond-to('medium') {
  .blog-index {
    .index-list__item-large {
      grid-column: auto / span 2;
    }

    .index-list__item-first {
      min-height: 30rem;

      h2 {
        font-size: var.$h1-font-size;
        line-height: var.$h1-line-height;
      }
    }
  }
}

@include rt.respond-to('large') {
  .blog-index {
    .index-list {
      grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    }
    .index-list__item-small {
      grid-column: auto / span 2;
    }
    .index-list__item-large {
      grid-column: auto / span 3;
    }
  }
}
@include rt.respond-to('extra-large') {
  .blog-index {
    .index-list {
      grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr));
    }
  }
}