<a href="{{ item.path }}" class="faux-block-link content-canvas-item-full"><span class="hide-text" aria-hidden="true">{{ item.title }}</span></a>
<div class="home--header--all-padding home-item--inner home-promo--inner {% if loop.index % 2 == 0 %} content-canvas-item-right{% else %} content-canvas-item-left{% endif %}">
  <div class="item-thing content">
    <h2><a href="{{ item.path }}">{{ item.title }}</a></h2>
    <div class="excerpt">
      {{ item.excerpt }}
    </div>
    <div class="link">
      <a href="{{ item.path }}" class="single-meta-item single-meta-forward">Find out about {{ item.title }}</a>
    </div>
  </div>
</div>

<div class="{% if loop.index % 2 == 0 %} content-canvas-item-full-left{% else %} content-canvas-item-full-right{% endif %} content-canvas-item--row-span-2 item-thing image{% if item.classes.image %} {{ item.classes.image | join(' ')}}{% endif %}" style="--promo-background: url('/static/images/{{ item.image }}')"></div>
