<div class="home-soulsongs--inner">
  <a href="/soulsongs/" class="faux-block-link content-canvas-item-full"><span class="hide-text" aria-hidden="true">Soul Songs</span></a>
  <div class="item-thing content">
    <h2><a href="/soulsongs/">{{ soulsongs.title }}</a></h2>
    <div class="excerpt">
      {{ soulsongs.excerpt }}
    </div>
    <div class="link">
      <a href="/soulsongs/" class="single-meta-item single-meta-item-black single-meta-forward">Find out about Soul Songs</a>
    </div>
  </div>
  <div class="item-thing image"></div>
</div>
