<!DOCTYPE html>
<html lang="en-GB">

  {% include head.html %}

  <body>
    <div class="container-fluid main-container">
      <div class="row">
        <div class="col-md-3 col-sm-4 match-height sidebar">
          {% include sidebar.html %}
        </div>

        <div class="col-md-9 col-sm-8 col-md-offset-3 col-sm-offset-4 match-height content">
          <div class="content-inner">
            {{ content }}

            <div class="footer">
            {% include footer.html %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
