---
layout: default
---

<div class="page clearfix">
  <h1 class="page-title">{{ page.title }}</h1>
  {% if page.image %}
    <aside class="inset right">
  <img src="{{ page.image }}" title="{{ page.title }} resource" width="250" class="border">
  </aside>
  {% endif %}
  
  {{ content }}

  <section> 
  {% assign pages_list = site.posts %}

  {% for node in pages_list %}
  {% if node.category == page.category %}
  {% if node.title != null %}
  <article class="">
  <a class="section-list" href="{{ node.url }}"><h3>{{ node.title }}</h3></a>
  {% if page.post_date != false %}
  <span class="post-date">{{ node.date | date_to_string }}</span>
  {% endif %}
  
  {{ node.excerpt }}
  
  <a href="{{ node.url }}">More »</a>

  </article>
  {% endif %}
  {% endif %}
  {% endfor %}
  </section>
</div>
