---
layout: default
---

<div class="page clearfix">
  <h1 class="page-title">{{ page.title }}</h1>
  {% if page.image %}
    <aside class="pull-right">
      <img src="/public/images/{{ page.image }}" title="{{ page.title }} resource" class="img-responsive img-rounded">
  </aside>
  {% endif %}
  
  {{ content }}

  <div class="clearfix"></div>

  <section class="section-list"> 
    <div class="row">
  {% assign pages_list = site.pages %}

    {% for node in pages_list %}
    {% if node.layout == 'page' %}
    {% if node.category == page.category %}
    {% if node.title != null %}
    <article class="col-sm-6 col-lg-4 match-height list-item">
      <div class="item-inner">
        <div class="top-bar">
          {% if node.tags %}
          <div class="tags">
          {% for tag in node.tags %}
          <small>{{ tag }}</small>
          {% endfor %}
          </div>
          {% endif %}
        </div>
        <a class="section-list" href="{{ node.url }}">
          <h3>{{ node.title }}</h3>
          {% if node.image %}<img src="{{ node.image }}" title="{{ node.title }}" class="img-thumbnail img-responsive">{% endif %}
        </a>

        {% if forloop.first %}
        {{ node.excerpt }}
        {% endif %}
      </div>
    </article>
    {% endif %}
    {% endif %}
    {% endif %}
    {% endfor %}
    </div>
  </section>
  
<!-- AddToAny BEGIN -->
<div class="a2a_kit a2a_kit_size_32 a2a_default_style">
<a class="a2a_button_facebook"></a>
<a class="a2a_button_twitter"></a>
<a class="a2a_button_tumblr"></a>
<a class="a2a_button_email"></a>
<a class="a2a_dd" href="https://www.addtoany.com/share"></a>
</div>
<script async src="https://static.addtoany.com/menu/page.js"></script>
<!-- AddToAny END -->

</div>
