---
layout: default
---

<div class="page clearfix">
  <h1 class="page-title">{{ page.title }}</h1>
  {% if page.image %}
    <aside class="inset right">
  <img src="{{ page.image }}" title="{{ page.title }} resource" width="250" class="border">
  </aside>
  {% endif %}
  
  {{ content }}

  <section class="row">
  {% assign pages_list = site.pages %}

  {% for node in pages_list %}
  {% if node.layout == 'page' %}
  {% if node.category == page.category %}
  {% if node.title != null %}
  <article class="col-sm-6 col-lg-4 match-height">
  <a class="section-list" href="{{ node.url }}"><h3>{{ node.title }}{% if node.image %}</h3>
    <img src="{{ node.image }}" title="{{ node.title }}" class="img-thumbnail img-responsive">{% endif %}</a>

  {% if forloop.first %}
  {{ node.excerpt }}
  {% endif %}
  {% if node.tags %}
  <div class="tags">
  {% for tag in node.tags %}
  <span class="label label-default">{{ tag }}</span>
  {% endfor %}
  </div>
  {% endif %}

  </article>
  {% endif %}
  {% endif %}
  {% endif %}
  {% endfor %}
  </section>
</div>
