---
layout: default
---

<div class="page">
  <h1 class="page-title">{{ page.title }}</h1>
  {{ content }}

  <section class="row">
  {% assign pages_list = site.posts %}

  {% for node in pages_list %}
  {% if node.section == page.category %}
  {% if node.title != null %}
  <article class="col-md-4 col-sm-6 match-height">
  <h3><a class="section-list" href="{{ node.url }}">{{ node.title }}</a></h3>
  {% if page.post_date != false %}
  <span class="post-date">{{ node.date | date_to_string }}</span>
  {% endif %}

  {% if forloop.first %}
  {{ node.excerpt }}
  {% endif %}

  </article>
  {% endif %}
  {% endif %}
  {% endfor %}
  </section>

<!-- AddToAny BEGIN -->
<div class="a2a_kit a2a_kit_size_32 a2a_default_style">
<a class="a2a_button_facebook"></a>
<a class="a2a_button_twitter"></a>
<a class="a2a_button_tumblr"></a>
<a class="a2a_button_email"></a>
<a class="a2a_dd" href="https://www.addtoany.com/share"></a>
</div>
<script async src="https://static.addtoany.com/menu/page.js"></script>
<!-- AddToAny END -->

</div>
