---
layout: layouts/base.njk
section: home
styles:
  - home.css
---
<div class="site-content jumbotron content-canvas">

  <div class="jumbotron--inner">
    {% if jumbotron.image %}
    <aside class="image-right">
      <img src="/static/images/{{ jumbotron.image }}" title="{{ title }}" class="img-responsive">
    </aside>
    {% endif %}

    <div class="title">
      <h1>
        {{ jumbotron.title }}
        {% if jumbotron.sub_title %}
        <div class="sub-title"><small>{{ jumbotron.sub_title }}</small></div>
        {% endif %}
      </h1>
    </div>
    
    <div class="content">
      {{ jumbotron.content | safe}}
    </div>
  </div>
</div>

<div class="site-content content-canvas home-composer">

  <div class="home--header home-composer--header">
    <h2><a href="/composer/">{{ composer.title }}</a></h2>
    {% if composer.excerpt %}
    <div class="excerpt">
      {{ composer.excerpt }}
    </div>
    {% endif %}
  </div>

  <div class="content-canvas-item-full home-composer--items">
    {% include "layouts/components/home/composer.njk" %}
  </div>
</div>

<div class="site-content content-canvas home-teaching">

  <div class="home--header home-teaching--header">
    <h2><a href="/teaching/">{{ teaching.title }}</a></h2>
    {% if teaching.excerpt %}
    <div class="excerpt">
      {{ teaching.excerpt }}
    </div>
    {% endif %}
  </div>

  <div class="home-teaching--items content-canvas-item-full">
    {% include "layouts/components/home/teaching.njk" %}
  </div>

</div>
