---
layout: layouts/index.njk
section: publications
meta_back: 
  url: "/composer/"
  title: "Composer & Arranger"
---

{{ content | safe }}

<div class="site-content content-canvas-item-wide">

  {% include "layouts/components/index-list.njk" %}

</div>
