---
layout: layouts/base.njk
section: index
---
<div class="site-content content-canvas">
  {% if meta_back %}

  <p><a href="{{ meta_back.url }}" class="single-meta-item single-meta-back">{{ meta_back.title }}</a></p>

  {% endif %}

  <h1>{{ title }}</h1>

  {% if image %}
  <aside class="content-canvas-item-right content-canvas-item-right--span-3">
    <img src="/static/images/{{ image }}" title="{{ title }} resource" class="img-responsive img-rounded">
  </aside>
  {% endif %}

  {{ content | safe}}
</div>
