---
layout: layouts/base.njk
section: teaching
styles:
  - masterclass.css
main_classes:
  - wide
  - page-masterclass
---

<div class="site-content site-content--zero-top-padding content-canvas page-teaching--{{ page.fileSlug }}">

  {% include "layouts/components/mc-head.njk" %}

  <div class="content-canvas-item-left">

    {{ content | safe}}

  </div>

  <div class="content-canvas-item-right">

    {% if calendly %}
      {% include "layouts/components/calendly.njk" %}
    {% endif %}

    {% if no_spaces.visible %}
      {% include "layouts/components/no-spaces-micro.njk" %}
    {% endif %}

    {% include "layouts/components/about-micro.njk" %}

    {% if pricing %}
      {% include "layouts/components/service-pricing.njk" %}
    {% endif %}

    {% if promote %}
      {% if promote.teaching %}
      {% include "layouts/components/promote-service-teaching.njk" %}
      {% endif %}
      {% if promote.masterclasses %}
        {% include "layouts/components/promote-service-masterclasses.njk" %}
      {% endif %}
    {% endif %}

  </div>

  {% if map_image_srcset %}
  <div class="content-canvas-item-full contact-map">
    <figure class="fig fig-image">
      <img src="{{ map_image_srcset.1920w }}" class="kg-image" alt="{{ map_image_srcset.alt }}" 
      srcset="{{ map_image_srcset.600w }} 600w,
        {{ map_image_srcset.1000w }} 1000w,
        {{ map_image_srcset.1920w }} 1920w,
        {{ map_image_srcset.2400w }} 2400w" sizes="(min-width: 720px) 720px">
    </figure>
  <div>
{% endif %}


</div>

{% include "layouts/components/fluidvids.njk" %}
