---
layout: layouts/base.njk
---
<div class="site-content content-canvas">
  {% if category %}
  <p><a class="single-meta-item single-meta-back"
    {% if category == "incidentalmusic" %}
     href="/composer/incidentalmusic/">
    Incidental Music
    {% elif category == "publications" %}
    href="/composer/publications/">
    Publications
    {% elif category == "songs" %}
    href="/composer/songs/">
    Songs
    {% elif category == "musicshakers" %}
    href="/composer/musicshakers/">
    Music Shakers
    {% else %}
     href="/composer/pianomusic/">
     Piano Music
    {% endif %}
    </a></p>
  {% endif %}

  <div class="tags">
    {%- for tag in tags %}
      {% if tag | starts_with('#', true) %}
      <small>{{ tag }}</small>
      {% endif %}
    {% endfor %}
  </div>

  <h1 class="page-title">{{ title }}</h1>

  <div class="content-canvas-item{% if image or calendly or (tags and '#soulsong' in tags) %}-left{% endif %}">

    {{ content | safe}}

  </div>

  {% if image or calendly or (tags and '#soulsong' in tags) %}
  <div class="content-canvas-item-right">
  
    {% if image %}
    <figure class="pull-right">
      {% if category == "publications" %}
      <img src="{{ image }}" title="{{ title }} resource" class="img-responsive img-rounded">
      {% else %}
      <img src="/static/images/{{ image }}" title="{{ title }} resource" class="img-responsive img-rounded">
      {% endif %}
    </figure>
    {% endif %}

    {% if calendly %}
      {% include "layouts/components/calendly.njk" %}
    {% endif %}

    {% if tags and '#soulsong' in tags %}
      {% include "layouts/components/promote-soulsongs.njk" %}
    {% endif %}

  </div>
  {% endif %}

  {% if map_image_srcset %}
  <div class="content-canvas-item-full contact-map">
    <figure class="fig fig-image">
      <img src="{{ map_image_srcset.1920w }}" class="kg-image" alt="Map for my teaching in-person" 
      srcset="{{ map_image_srcset.600w }} 600w,
        {{ map_image_srcset.1000w }} 1000w,
        {{ map_image_srcset.1920w }} 1920w,
        {{ map_image_srcset.2400w }} 2400w" sizes="(min-width: 720px) 720px">
    </figure>
  <div>
  {% endif %}

  {% if publication_url %}
    {% include "layouts/components/publication-link.njk" %}
  {% endif %}

  <div class="clearfix"></div>

  {%if youtube_id %}
    {% include "layouts/components/youtube-player.njk" %}
  {% endif %}

  {% if soundcloud_id %}
    {% include "layouts/components/soundcloud-player.njk" %}
  {% endif %}

  {% if score.pdf %}
  <p>
      <a href="/static/files/{{ score.pdf }}" class="btn btn-default btn-lg btn-download" role="button">Download the score (PDF) <span class="glyphicon glyphicon-download" aria-hidden="true"></span></a>
  </p>
  {% endif %}

  {% if score.image %}
  <p>
      <img src="/static/images/scores/{{ score.image }}" alt="{{ title }} score example" width="100%" />
  </p>
  {% endif %}

</div>

<script src="/static/js/fluidvids.min.js"></script>

<script>
  fluidvids.init({
    selector: ['iframe'],
    players: ['www.youtube.com', 'player.vimeo.com']
  });
</script>