---
layout: layouts/base.njk
section: soulsongs
styles:
  - soulsongs.css
main_classes:
  - wide
  - page-soulsongs
  - page-teaching
---

<div class="site-content site-content--zero-top-padding content-canvas">

  {% include "layouts/components/mc-head.njk" %}

  <div class="content-canvas-item-left">

    {{ content | safe}}

  </div>

  <div class="content-canvas-item-right">

    {% if calendly %}
      {% include "layouts/components/calendly.njk" %}
    {% endif %}

    {% if pricing.price %}
      {% include "layouts/components/service-pricing.njk" %}
    {% endif %}

    {% include "layouts/components/about-micro.njk" %}

  </div>

  {% if testimonials %}
  <div class="content-canvas-item-full testimonials-wrapper">
    <div class="site-content content-canvas">
      {% include "layouts/components/testimonials.njk" %}
    </div>
  </div>
  {% endif %}

  <div class="site-content content-canvas-item-wide soul-songs-index-list">

    <h2>A Selection of Soul Songs</h2>

    {% include "layouts/components/index-list.njk" %}

  </div>

</div>

{% include "layouts/components/fluidvids.njk" %}
