---
layout: layouts/base.njk
---
<div class="site-content content-canvas">
  {% if category %}
  <p><a class="single-meta-item single-meta-back"
    {% if category == "incidentalmusic" %}
     href="/incidentalmusic/">
    Incidental Music
    {% elif category == "publications" %}
    href="/publications/">
    Publications
    {% elif category == "songs" %}
    href="/songs/">
    Songs
    {% else %}
     href="/pianomusic/">
     Piano Music
    {% endif %}
    </a></p>
  {% endif %}

  <div class="tags">
    {%- for tag in tags %}
      {% if tag | starts_with('#', true) %}
      <small>{{ tag }}</small>
      {% endif %}
    {% endfor %}
  </div>

  <h1 class="page-title">{{ title }}</h1>

  {% if image %}
  <figure class="pull-right">
    {% if category == "publications" %}
    <img src="{{ image }}" title="{{ title }} resource" class="img-responsive img-rounded">
    {% else %}
    <img src="/static/images/{{ image }}" title="{{ title }} resource" class="img-responsive img-rounded">
    {% endif %}
  </figure>
  {% endif %}

  {{ content | safe}}

  {% if calendly %}
    {% include "layouts/components/calendly.njk" %}
  {% endif %}

  {% if publication_url %}
    {% include "layouts/components/publication-link.njk" %}
  {% endif %}

  <div class="clearfix"></div>

  {%if youtube_id %}
    {% include "layouts/components/youtube-player.njk" %}
  {% endif %}

  {% if soundcloud_id %}
    {% include "layouts/components/soundcloud-player.njk" %}
  {% endif %}

  {% if score.pdf %}
  <p>
      <a href="/static/files/{{ score.pdf }}" class="btn btn-default btn-lg btn-download" role="button">Download the score (PDF) <span class="glyphicon glyphicon-download" aria-hidden="true"></span></a>
  </p>
  {% endif %}

  {% if score.image %}
  <p>
      <img src="/static/images/scores/{{ score.image }}" alt="{{ title }} score example" width="100%" />
  </p>
  {% endif %}

</div>

<script src="/static/js/fluidvids.min.js"></script>

<script>
  fluidvids.init({
    selector: ['iframe'],
    players: ['www.youtube.com', 'player.vimeo.com']
  });
</script>