---
layout: layouts/base.njk
section: teaching
styles:
  - masterclass.css
main_classes:
  - wide
  - page-masterclass
---

<div class="site-content site-content--zero-top-padding content-canvas page-teaching--{{ page.fileSlug }}">

  {% include "layouts/components/mc-head.njk" %}

  <div class="content-canvas-item-left">

    {{ content | safe}}

  </div>

  <div class="content-canvas-item-right">

    {% include "layouts/components/about-micro.njk" %}

    {% if pricing %}
    {% include "layouts/components/product-pricing.njk" %}
    {% endif %}

    {% if calendly %}
      {% include "layouts/components/calendly.njk" %}
    {% endif %}


  </div>

</div>

{% include "layouts/components/fluidvids.njk" %}
