---
layout: layouts/base.njk
section: soulsongs
styles:
  - soulsongs.css
main_classes:
  - wide
  - page-soulsongs
---

<div class="site-content site-content--zero-top-padding content-canvas">

  {% include "layouts/components/mc-head.njk" %}

  <div class="content-canvas-item-left">

    {{ content | safe}}

    {% if calendly %}
      {% include "layouts/components/calendly.njk" %}
    {% endif %}

  </div>

  <div class="content-canvas-item-right">

    {% if calendly %}
      {% include "layouts/components/calendly.njk" %}
    {% endif %}

    {% include "layouts/components/soulsongs-pricing.njk" %}

    {% include "layouts/components/about-micro.njk" %}

  </div>

  <div class="site-content content-canvas-item-wide soul-songs-index-list">

    <h2>Example Soul Songs</h2>

    {% include "layouts/components/index-list.njk" %}

  </div>

</div>

{% include "layouts/components/fluidvids.njk" %}
